[neopixel pixels]
pin:P1.24
chain_count:143
color_order: GRB
initial_RED: 0.1
initial_GREEN: 0.1
initial_BLUE: .1
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.