#############################################
## BED MESH
#############################################
[bed_mesh] 
speed: 120
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
mesh_min: 35, 6
#   Defines the minimum x,y coodinate of the mesh for rectangular beds.  This
#   coordiate is relative to the probe's location. This will be the first
#   point probed, nearest to the origin. This parameter must be provided for
#   rectangular beds.
mesh_max: 240,198 
#   Defines the maximum x,y coordinate of the mesh for rectangular beds.
#   Adheres to the same principle as mesh_min, however this will be the
#   furthest point probed from the bed's origin. This parameter must be
#   provided for rectangular beds.
probe_count: 3,3 #3x3 or 5x5 is better as then Center screw is hit
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3..
fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled.  Default is 1.0.
fade_end: 10.0
#   The gcode z position in which phasing out completes.  When set
#   to a value below fade_start, fade is disabled. It should be
#   noted that fade may add unwanted scaling along the z-axis of a
#   print.  If a user wishes to enable fade, a value of 10.0 is
#   recommended. Default is 0.0, which disables fade.
fade_target: 0
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
move_check_distance: 3.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#algorithm: lagrange
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
relative_reference_index: 4 #On 7x7=24 5x5=12 3x3=4 is the center point Only use when Nylock mod center is fixed
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.
#############################################

#############################################
## ADJUSTMENT OF SCREWS
#############################################
#[screws_tilt_adjust]
#   The X,Y coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to that is directly above the bed
#   screw (or as close as possible while still being above the bed).
#   This is the base screw used in calculations. This parameter must
#   be provided.
#screw1: 101,100
#screw1_name: Center
#
#screw2: 16,0
#screw2_name: Front Left
#screw3: 124,0
#screw3_name: Front Middle
#screw4: 228,0
#screw4_name: Front Right
#
#screw5: 16,105
#screw5_name: Middle Left
##screw6: 124,105
##screw6_name: Middle Middle
#screw6: 228,105
#screw6_name: Front Right
#
#screw7: 16,205
#screw7_name: Back Left
#screw8: 124,205
#screw8_name: Back Middle
#screw9: 228,205
#screw9_name: Back Right


[screws_tilt_adjust]
#   The X,Y coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to that is directly above the bed
#   screw (or as close as possible while still being above the bed).
#   This is the base screw used in calculations. This parameter must
#   be provided.

screw1: 101,100
screw1_name: Center

screw2: 0,0
screw2_name: Front Left
screw3: 100,0
screw3_name: Front Middle
screw4: 204,0
screw4_name: Front Right

screw5: 0,100
screw5_name: Middle Left
#screw6: 100,100
#screw6_name: Middle Middle
screw6: 204,100
screw6_name: Front Right

screw7: 0,200
screw7_name: Back Left
screw8: 100,200
screw8_name: Back Middle
screw9: 204,200
screw9_name: Back Right

screw_thread: CW-M3
#   The type of screw used for bed level, M3, M4 or M5 and the
#   direction of the knob used to level the bed, clockwise decrease
#   counter-clockwise decrease.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3, most printers use an M3 screw and
#   turning the knob clockwise decrease distance.


#speed: 150
#horizontal_move_z: 5

