#############################################
## MACROS
#############################################

#to setup your start/end gcode in your slicer of choice please set your code to the following:
#Ideamaker Start gcode
#SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=MATERIAL_BED_TEMPERATURE VALUE={temperature_heatbed}
#SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=MATERIAL_PRINT_TEMPERATURE VALUE={temperature_extruder1}
#START_PRINT
#ideamaker End gcode
#END_PRINT

#Prusa Slicer Start gcode
#SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=MATERIAL_BED_TEMPERATURE VALUE=[first_layer_bed_temperature]
#SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=MATERIAL_PRINT_TEMPERATURE VALUE=[first_layer_temperature]
#Prusa Slicer End gcode
#END_PRINT

[gcode_macro bip]
gcode:
    #SET_PIN PIN=beeper VALUE=1
    G4 P400 ; wait 400ms
    #SET_PIN PIN=beeper VALUE=0

#############################################

#############################################
[gcode_macro screws_tilt]
gcode:
  g28
  SCREWS_TILT_CALCULATE
#############################################
[gcode_macro ADD_BED_MESH]
default_parameter_TARGET_TEMP: 70
gcode:
    M190 S{TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP
    G28 #remove line if you ran G28 before starting this macro
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE={TARGET_TEMP}
    SAVE_CONFIG   
#############################################
[gcode_macro PURGE_LINE]
gcode:
    # Purge Line 
    G1 Y-3.0 F1000.0
    G1 Z0.4 F1000.0
    G1 X55.0 E8.0 F2000.0
    G1 Z0.3 F1000.0
    G92 E0.0
    G1 X240.0 E25.0  F2200.0
    G1 Y-2.0 F1000.0
    G1 X55.0 E25 F1400.0
    G1 Z0.20 F1000.0
    G1 X5.0 E4.0 F1000.0
    G92 E0.0 ; reset extruder distance position    
#############################################
[gcode_macro Disable_XY_Steppers]
gcode:
   SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
   SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
#############################################
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 10    #edit to your park position
default_parameter_Y: 30    #edit to your park position
default_parameter_Z: 20    #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
#############################################
[pause_resume]
recover_velocity: 50
[display_status]
#############################################
[gcode_macro G29]
gcode:
   {% if printer.toolhead.homed_axes != "xyz" %}
      G28
   {% endif %} 
 BED_MESH_CALIBRATE
 BED_MESH_PROFILE SAVE=p1
 G1 X20 Y20 Z5 F4000
#############################################
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-1 ; Retract filament 3 mm to prevent oozing
   {% endif %}

   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      G1 F6000 Z10 ; Move Z Axis up 10 mm to allow filament ooze freely
      G90 ; Set coordinates to absolute
      G1 X10 Y30 F1000 ; Move Heat Bed to the front for easy print removal  
   {% endif %}

   ;set part fan speed to zero.
   M106 S0
   TURN_OFF_HEATERS
   CLEAR_PAUSE
   SDCARD_RESET_FILE
   BASE_CANCEL_PRINT


[gcode_macro DUMP_PARAMETERS]
gcode:
  {% set parameters = namespace(output = '') %}
  {% for name1 in printer %}
    {% for name2 in printer[name1] %}
      {% set donotwant = ['bed_mesh'] %}
      {% if name1 is not in donotwant %}
        {% set param = "printer['%s'].%s = %s" % (name1, name2, printer[name1][name2]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
      {% endif %}
      {% else %}
        {% set param = "printer['%s'] = %s" % (name1, printer[name1]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
    {% endfor %}
  {% endfor %}
  {action_respond_info(parameters.output)}


#############################################
## FILLAMENT CHANGE
#############################################
# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 130mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.
#############################################
#[gcode_macro M600]
########### Change this ############
#default_parameter_X: 100           #park position
#default_parameter_Y: 0               #park position
#default_parameter_Z: 10                #park position
#default_parameter_E: -130            #retract dist
########### Gcode ############
#gcode:
#        SAVE_GCODE_STATE NAME=M600_state
#        PAUSE
#        G91
#        G1 E-5 F4000
#        G1 Z{Z}
#        G90
#        G1 X{X} Y{Y} F3000        ;park position
#        G0 E10 F500                ;extrude filament to get better blob on end
#        G0 E{E} F600             ;retract additional filament to move out of melt zone
#        G92 E0

#############################################
#    Use this command resume during a mid print filament swap (DONT USE OCTO/MAINSAIL/DWC RESUME)
[gcode_macro SWAP_RESUME] 
gcode:
    RESTORE_GCODE_STATE NAME=M600_state
    resume
#############################################

[delayed_gcode clear_display]
gcode:
  M117

#############################################
## LOAD/UNLOAD FILAMENT
#############################################
[gcode_macro LOAD_FILAMENT]
gcode:
    M117 Loading Filament...
    G92 E0.0
    G91
    G1 E40 F400
    G1 E30 F400
    G1 E60 F200
    G90
    G92 E0.0
    M400
    M117 Load Complete
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=5
 
[gcode_macro UNLOAD_FILAMENT]
gcode:
    M117 Unloading Filament...
    G92 E0.0
    G91
    G1 E-5 F3600        ; retract filament to cold end area
    G4 P3000            ; wait for three seconds
    G1 E5 F3600         ; extrude filament to do stuff
    G1 E-15 F3600       ; retract fast into the cold zone
    G1 E-85 F300        ; retract the filament slowly to allow time to cool before it hits the gears
    G90
    G92 E0.0
    M400
    M117 Remove Filament Now!
    M300 S300 P1000
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=5

#############################################
[gcode_macro HEAT_SOAK]
#uncomment HEAT_SOAK lines in PRINT_START to enable
gcode:
    G0 X60 Y60 Z10                                   ; move toolhead to centre
    PAUSE
    M106 S255                                        ; run cooling fans at full power
    M117
    UPDATE_DELAYED_GCODE ID=SOAK_TIME DURATION=600   ; resume after 300 seconds
#############################################
[delayed_gcode SOAK_TIME]
gcode:
    RESUME
    M107                                             ; turn off cooling fans
#############################################
[gcode_macro SKIP_HEAT_SOAK]
gcode:
    RESUME
    UPDATE_DELAYED_GCODE ID=SOAK_TIME DURATION=1

##########################################################################################
##########################################################################################

[gcode_macro Z_ALIGN]
gcode:
    G28                             # home all
    G0 X125 Y200 Z200 F1000         # move to top (with margin when doing homing after)
    SET_KINEMATIC_POSITION Z=0      # set current position as zero (necessary to go over max Z print height)
    G0 Z13 F200                     # crash into Z tops to sync both side of Z axis
    G0 Z0 F1000                     # go lower for homing with avoiding crashing into Z tops again
    G28                             # home all      
    Z_TILT_ADJUST                   # initiate z tilt function

[gcode_macro CRASH_Z_RODS]
gcode:
    G28                             # home all
    G0 X125 Y200 Z200 F1000         # move to top (with margin when doing homing after)
    SET_KINEMATIC_POSITION Z=0      # set current position as zero (necessary to go over max Z print height)
    G0 Z18 F200                     # crash into Z tops to sync both side of Z axis
    G0 Z0 F1000                     # go lower for homing with avoiding crashing into Z tops again
    G28                             # home all      

[gcode_macro FORCE_Z_UP]
gcode:
    SET_KINEMATIC_POSITION Z=0
    G0 Z50 F200